$gt-nav-bar-height: 50px;
$gt-nav-drawer-width: 26ex;
$gt-main-left-margin: 30ex;
$gt-main-min-width: 50ex;

#gt-nav-drawer {
    position: absolute;
    width: $gt-nav-drawer-width;
    box-shadow: black -2px -8px 11px 0;
}

#gt-main {
    position: absolute;
    height: calc(100vh - #{$gt-nav-bar-height});
    margin-left: $gt-main-left-margin;
    min-width: $gt-main-min-width;
    width: calc(100% - #{$gt-main-left-margin});
}

#gt-main-article {
    overflow-y: scroll;

    [rundoc-module]:hover:before {
        content: "Click to load in the editor";
        display: block;
        text-align: right;
        float: right;
        cursor: pointer;
    }
}

#gt-main-editor {
    box-shadow: black -1px 2px 16px;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
