<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>$title$</title>
        <link rel="stylesheet" href="$site-root$/main.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="$site-root$/$main-js$"></script>
    </head>
    <body class="language-typescript">
        <header>
            <h1><a href="$site-root$">Get <span>:</span> Typed</a></h1>
            <h2>motivations for using types</h2>
            <span class="gt-edit-toggle">
                <span>edit<br/><span class="gt-toggle-state"></span></span>
                <i class="material-icons md-24 md-dark"></i>
            </span>
        </header>
        <article>
            <header>
                <h1 class="gt-page-title">$title$</h1>
                <dl class="gt-provenance">
                    $if(date-meta)$
                    <dt>date</dt><dd>$date-meta$</dd>
                    $endif$
                    $if(keywords)$
                    <dt>keywords</dt><dd>$for(keywords)$$keywords$$sep$, $endfor$</dd>
                    $endif$
                </dl>
            </header>
            $if(toc)$
            <nav id="gt-toc" class="gt-toc">
                <details>
                    <summary>TOC <i class="material-icons md-24 md-dark"></i></summary>
                    $toc$
                </details>
            </nav>
            $endif$
            <div id="gt-content">
$body$
            </div>
        </article>
        <nav>
            $if(is-post)$
            <div class="gt-more-link"><a href="$site-root$">more motivations</a></div>
            $endif$
        </nav>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js"></script>
        <script>
         (function() {
             hljs.initHighlightingOnLoad();
             const config = {
                 pageNs: "$page-ns$"
             };
             require(["GetTyped"], function(m) { m.init(config); });
         })();
        </script>
    </body>
</html>
