<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>$title$</title>
    <link rel="stylesheet" href="$site-root$/main.css"/>
    <script src="$site-root$/require.js"></script>
    <script>
        require.config({paths: {vs: "$site-root$/vs"}});
     require([
         "vs/editor/editor.main",
         "vs/language/typescript/lib/typescriptServices"
     ]);
    </script>
    <script src="$site-root$/$main-js$"></script>
  </head>
  <body>
    <article>
        <header>
            <h1 class="gt-page-title">$title$</h1>
            <dl class="gt-provenance">
                $if(date-meta)$
                <dt>date</dt><dd>$date-meta$</dd>
                $endif$
                $if(keywords)$
                <dt>keywords</dt><dd>$for(keywords)$$keywords$$sep$, $endfor$</dd>
                $endif$
            </dl>
        </header>
        $if(toc)$
        <nav id="gt-toc">
            $toc$
        </nav>
        $endif$
        <div id="gt-content">
$body$
        </div>
    </article>
    <script>
        require(["index"], function(m) { m.init(); });
    </script>
  </body>
</html>
